{% extends 'base.html' %}
{% block content %}

    <div style=" display: flex; align-items: center; justify-content: center;" class="login-box auth0-box before">
        {% if user.is_authenticated %}
        <p class="login-box-msg">Bienvenido {{ user.username }}</p>
        <br>
        <p>{{ user }}</p>
        <br>
        <p>{{ user.email }}</p>
        <br>
        <p>end print</p>
        {% else %}
        <p style="font-size: 20px; color: #000000; font-weight: bold;">Bienvenido a Avanzo</p>
        {% endif %}
    </div>

{% endblock %}